@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Muller, Arial, sans-serif;
    font-weight: 400;
    background: #E5E5E5;
}

h3,
h2 {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

section:not(:last-child) {
    margin-bottom: 70px;
}

.main {
    margin-bottom: 20px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.header-nav-top {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.header-left-link {
    width: 465px;
    justify-content: space-between;
    align-items: center;
}

.header-number {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.header-nav-link-login {
    display: flex;
    color: #CC9933;
    padding: 1px 2px;
}

.header-nav-link-item {
    margin-right: 7px;
}

.header-nav-link-svg {
    fill: #CC9933;
}

.header-nav-link-login:focus {
    border: 1px solid #CC9933;
}

.header-nav-link-login:hover {
    color: #E9C479;
}

.header-nav-link-login:hover svg {
    fill: #E9C479;
}

.header-nav-link-login:active {
    color: #A47312;
}

.header-nav-link-login:active svg {
    fill: #CC9933;
}

.header-nav-bot {
    width: 1170px;
    height: 70px;
    background: white;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    border-radius: 15px;
    margin-bottom: 70px;
}

.header-nav-list-left {
    width: 742px;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.header-nav-item {
    position: relative;
    z-index: 2;
}

.header-nav-item::after {
    content: "";
    position: absolute;
    left: -5px;
    bottom: -5px;
    top: -5px;
    right: -5px;
    border: 1px solid #CC9933;
    opacity: 0;
    z-index: -1;
}

.header-nav-item:focus::after {
    opacity: 1;
}

.header-nav-link-left:hover {
    color: #CC9933;
}

.header-nav-link-left:active {
    color: #A47312;
}

.header-border {
    width: 1px;
    height: 50px;
    background: #E1E1E1;
}

.header-nav-list-right {
    width: 380px;
    justify-content: space-evenly;
    align-items: center;
}

.header-nav-btn-left {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    width: 107px;
    height: 42px;
    color: #CC9933;
    background: white;
    border: 1px solid #CC9933;
    border-radius: 10px;
}

button:focus {
    background: #CC9933;
    color: #FFFFFF;
}

button:hover {
    background: #CC9933;
    color: #FFFFFF;
}

button:active {
    background: #A47312;
    color: #FFFFFF;
}

.header-nav-btn-right {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    width: 177px;
    height: 42px;
    color: #CC9933;
    background: white;
    border: 1px solid #CC9933;
    border-radius: 10px;
}

.section-title {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-left: 45px;
    margin-bottom: 30px;
}

.special-block {
    flex-direction: column;
}

.section-block1,
.section-block2,
.section-block3 {
    flex-direction: column;
    color: white;
    position: relative;
}

.section-block1::after,
.section-block2::after,
.section-block3::after {
    content: "";
    position: absolute;
    left: -8px;
    bottom: -8px;
    top: -8px;
    right: -8px;
    border: 1px solid #CC9933;
    opacity: 0;
}

.section-block1:focus::after,
.section-block2:focus::after,
.section-block3:focus::after {
    opacity: 1;
}

.section-block1:hover svg,
.section-block2:hover svg,
.section-block3:hover svg {
    margin-left: 11px;
    transition: margin-left 0.3s ease;
}

.section-link:active .link-text-special {
    color: #FFFFFF;
}

.section-block1,
.section-block2 {
    width: 573px;
    height: 258px;
}

.link-text-special {
    color: #CC9933;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-right: 6px;
}

.background-effect {
    width: 573px;
    height: 258px;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.section-block1 {
    background-image: url(../img/1.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 23px;
    position: relative;
}

.section-block2 {
    background-image: url(../img/2.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.section-block3 {
    background-image: url(../img/3.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-block3 {
    width: 573px;
    height: 540px;
}

.special-block {
    margin-right: 23px;
}

.section-descr-special {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}

.section-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 47px;
}

.block-info {
    width: 299px;
    height: 98px;
    margin: 40px;
    z-index: 3;
}

.section-link {
    align-items: center;
}

.big-link {
    z-index: 2;
}

.link-text {
    color: #CC9933;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-right: 6px;
}

.block-info-big {
    width: 299px;
    height: 270px;
    margin: 211px 0px 40px 40px;
    z-index: 1;
}

.section-descr-big {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
}

.section-text-big {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 47px;
}

.text {
    width: 900px;
    font-size: 16px;
    line-height: 32px;
}

.section-descr {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
}

.service-svg {
    stroke: #CC9933;
}

.section-item-color {
    color: #CC9933;
    margin-right: 6px;
}

.section-block3::after {
    content: "";
    position: absolute;
    left: -8px;
    bottom: -8px;
    top: -8px;
    right: -8px;
    border: 1px solid #CC9933;
    opacity: 0;
}

.section-link-item {
    align-items: center;
}

.section-item-bg1 {
    width: 573px;
    height: 165px;
    background-image: url(../img/10.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg2 {
    width: 573px;
    height: 165px;
    background-image: url(../img/11.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg3 {
    width: 573px;
    height: 165px;
    background-image: url(../img/12.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg4 {
    width: 573px;
    height: 165px;
    background-image: url(../img/13.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-text {
    width: 573px;
    min-height: 165px;
    box-sizing: border-box;
    padding: 26px 126px 50px 45px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
}

.section-list {
    width: 1170px;
    flex-wrap: wrap;
}

.section-item {
    margin-bottom: 23px;
    position: relative;
}

.section-item::after {
    content: "";
    position: absolute;
    left: -8px;
    bottom: -8px;
    top: -8px;
    right: -8px;
    border: 1px solid #CC9933;
    opacity: 0;
    z-index: -1;
}

.section-item:focus::after {
    opacity: 1;
}

.section-item:hover svg {
    margin-left: 11px;
    transition: margin-left 0.3s ease;
    stroke: #E9C479;
}

.section-item:hover .section-item-color {
    color: #E9C479;
}

.section-item:active .section-item-color {
    color: #A47312;
}

.section-item:not(:nth-child(2n)) {
    margin-right: 23px;
}

.section-card {
    width: 275px;
    min-height: 275px;
    box-sizing: border-box;
    padding: 42px 45px;
    background: white;
    margin-bottom: 23px;
    border-radius: 15px;
}

.section-card:not(:nth-child(4n)) {
    margin-right: 23px;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.placement {
    margin-bottom: 70px;
}

.section-item-placement {
    width: 374px;
    height: 440px;
    box-sizing: border-box;
    margin-bottom: 23px;
    border-radius: 15px;
}

.section-item-placement:not(:nth-child(3n)) {
    margin-right: 23px;
}

.section-item-text-placement {
    width: 374px;
    height: 223px;
    background: white;
    padding: 35px 45px 45px 45px;
    box-sizing: border-box;
    border-radius: 0px 0px 15px 15px;
}

.section-item-bg5 {
    width: 374px;
    height: 217px;
    background-image: url(../img/23.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg6 {
    width: 374px;
    height: 217px;
    background-image: url(../img/24.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg7 {
    width: 374px;
    height: 217px;
    background-image: url(../img/25.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg8 {
    width: 374px;
    height: 217px;
    background-image: url(../img/26.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg9 {
    width: 374px;
    height: 217px;
    background-image: url(../img/27.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg10 {
    width: 374px;
    height: 217px;
    background-image: url(../img/28.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg11 {
    width: 374px;
    height: 217px;
    background-image: url(../img/29.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg12 {
    width: 374px;
    height: 217px;
    background-image: url(../img/30.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg13 {
    width: 373px;
    height: 440px;
    background-image: url(../img/31.png);
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-end;
    justify-content: center;
}

.section-text-block {
    align-items: center;
}

.price-container {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.text-for-price {
    color: #999999;
}

.hotel-name {
    margin-bottom: 16px;
}

.country {
    color: #999999;
    margin-bottom: 16px;
}

.section-item-btn {
    width: 100px;
    height: 42px;
    border: 1px solid #CC9933;
    background: white;
    box-sizing: border-box;
    border-radius: 10px;
    color: #CC9933;
}

.item-text-lastbl {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: white;
    margin-right: 3px;
}

.section-link-last-block {
    align-items: center;
    width: 374px;
    height: 440px;
}

.section-link-last-block:hover svg {
    margin-left: 11px;
    transition: margin-left 0.3s ease;
}

.section-link-blok {
    margin-bottom: 27px;
}

.want-tour {
    width: 1170px;
    height: 274px;
    background: #E9E9E9;
    border-radius: 15px;
    box-sizing: border-box;
    border-top: 1px solid transparent;
}

.tour-title {
    margin-top: 38px;
    margin-bottom: 19px;
}

.form {
    width: 1080px;
    background: white;
    border-radius: 15px;
    margin: 0 auto;
    padding: 28px;
    box-sizing: border-box;
}

.form-container {
    width: 1024px;
    justify-content: space-between;
    align-items: center;
}

.form-item {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.form-item:not(:last-child) {
    border-right: 1px solid #E1E1E1;
}

.form-item:not(:first-child) {
    padding-left: 20px;
}

.form-item-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.form-item-input {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.city-form1 {
    width: 189px;
}

.city-form2 {
    width: 209px;
}

.date-form {
    width: 161px;
}

.city-from,
.city-in {
    width: 169px;
    border: none;
    background: white;
}

.form-btn {
    width: 108px;
    height: 42px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    background: white;
    border: 1px solid #CC9933;
    border-radius: 10px;
    box-sizing: border-box;
}

.input-number,
.input-date {
    width: 120px;
    border: none;
}

.input-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.number1 {
    width: 161px;
}

.number2 {
    width: 171px;
}

.input-number {
    border-bottom: 1px solid #E1E1E1;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
    opacity: 1;
}

.item-btn {
    justify-content: center;
}

.margin-1 {
    margin-left: -3px;
}

.input-date::-webkit-calendar-picker-indicator {
    margin-left: 0px;
}

.container-contacts {
    background: white;
    padding: 44px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.contact-left {
    height: 528px;
    box-sizing: border-box;
}

.contact-item {
    display: flex;
    width: 375px;
    box-sizing: border-box;
}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 100%;
}

.contact-descr {
    width: 145px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.item-info-contatct {
    width: 229px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.contact-item:not(:last-child) {
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 22px;
}

.btn-contacts {
    width: 215px;
    height: 70px;
    padding: 27px 29px;
    border: 1px solid #CC9933;
    border-radius: 10px;
    color: #CC9933;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    box-sizing: border-box;
    background: white;
}

.contact-right {
    width: 653px;
    height: 528px;
    background-image: url(../img/con.png);
    background-position: center;
    background-repeat: no-repeat;
}

.flex-info {
    display: flex;
    flex-direction: column;
}

.address-info {
    color: #CC9933;
}

.email-descr {
    color: #999999;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.footer {
    width: 1168px;
    height: 341px;
    background: #333333;
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
}

.svg-icon {
    width: 254px;
    height: 228px;
    position: absolute;
    left: 738px;
    bottom: 0px;
    z-index: 1;
}

.footer-container {
    width: 100%;
    height: 100%;
    padding: 42px 51px;
    display: flex;
    box-sizing: border-box;
}

.footer-left-list {
    width: 320px;
    height: 251px;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    color: white;
}

.footer-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}

.left-side {
    width: 421px;
    height: 251px;
}

.right-side {
    width: 643px;
    height: 251px;
    justify-content: space-between;
}

.footer-right-list {
    flex-direction: column;
}

.footer-item1 {
    color: white;
}

.footer-list-item:not(:last-child) {
    margin-bottom: 14px;
}

.social-item {
    width: 25px;
    height: 25px;
}

.social-item:not(:last-child) {
    margin-bottom: 20px;
}

.footer-link:focus,
.address-info:focus {
    border: 1px solid #CC9933;
}

.footer-link:hover,
.address-info:hover {
    color: #E9C479;
}

.footer-link:active,
.address-info:active {
    color: #A47312;
}

.footer-social-svg {
    fill: #999999;
}

.social-item-link:focus .footer-social-svg {
    fill: #CC9933;
}

.social-item-link:hover .footer-social-svg {
    fill: #CC9933;
}

.social-item-link:active .footer-social-svg {
    fill: #A47312;
}