@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Muller, Arial, sans-serif;
    font-weight: 400;
    background: #E5E5E5;
}

h3 {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

section {
    margin-bottom: 70px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.header-nav-top {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.header-left-link {
    width: 465px;
    justify-content: space-between;
    align-items: center;
}

.header-number {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.header-nav-link-login {
    color: #CC9933;
}

.header-nav-bot {
    width: 1170px;
    height: 70px;
    background: white;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    border-radius: 15px;
    margin-bottom: 70px;
}

.header-nav-list-left {
    width: 742px;
    justify-content: space-around;
    align-items: center;
}

.header-border {
    width: 1px;
    height: 50px;
    background: #E1E1E1;
}

.header-nav-list-right {
    width: 380px;
    justify-content: space-evenly;
    align-items: center;
}

.header-nav-btn-left {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    width: 107px;
    height: 42px;
    color: #CC9933;
    background: white;
    border: 1px solid #CC9933;
    border-radius: 10px;
}

.header-nav-btn-right {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    width: 177px;
    height: 42px;
    color: #CC9933;
    background: white;
    border: 1px solid #CC9933;
    border-radius: 10px;
}

.section-title {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-left: 45px;
}

.special-block {
    flex-direction: column;
}

.section-block1,
.section-block2,
.section-block3 {
    flex-direction: column;
    color: white;
}

.section-block1,
.section-block2 {
    width: 573px;
    height: 258px;
}

.background-effect {
    width: 573px;
    height: 258px;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.section-block1 {
    background-image: url(../img/1.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 23px;
    position: relative;
}

.section-block2 {
    background-image: url(../img/2.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.section-block3 {
    background-image: url(../img/3.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-block3 {
    width: 573px;
    height: 540px;
}

.special-block {
    margin-right: 23px;
}

.section-descr-special {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}

.section-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 47px;
}

.block-info {
    width: 299px;
    height: 98px;
    margin: 40px;
    z-index: 3;
}

.section-link {
    align-items: center;
}

.link-text {
    color: #CC9933;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-right: 3px;
}

.block-info-big {
    width: 299px;
    height: 270px;
    margin: 211px 0px 40px 40px;
}

.section-descr-big {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
}

.section-text-big {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 47px;
}

.text {
    width: 900px;
    font-size: 16px;
    line-height: 32px;
}

.section-descr {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
}

.section-item-color {
    color: #CC9933;
    margin-right: 3px;
}

.section-link-item {
    align-items: center;
}

.section-item-bg1 {
    width: 573px;
    height: 165px;
    background-image: url(../img/10.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg2 {
    width: 573px;
    height: 165px;
    background-image: url(../img/11.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg3 {
    width: 573px;
    height: 165px;
    background-image: url(../img/12.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg4 {
    width: 573px;
    height: 165px;
    background-image: url(../img/13.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-text {
    width: 573px;
    min-height: 165px;
    box-sizing: border-box;
    padding: 26px 126px 50px 45px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
}

.section-list {
    width: 1170px;
    flex-wrap: wrap;
}

.section-item {
    margin-bottom: 23px;
}

.section-item:not(:nth-child(2n)) {
    margin-right: 23px;
}

.section-card {
    width: 275px;
    min-height: 275px;
    box-sizing: border-box;
    padding: 42px 45px;
    background: white;
    margin-bottom: 23px;
    border-radius: 15px;
}

.section-card:not(:nth-child(4n)) {
    margin-right: 23px;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.section-item-placement {
    width: 374px;
    height: 440px;
    box-sizing: border-box;
    margin-bottom: 23px;
    border-radius: 15px;
}

.section-item-placement:not(:nth-child(3n)) {
    margin-right: 23px;
}

.section-item-text-placement {
    width: 374px;
    height: 223px;
    background: white;
    padding: 35px 45px 45px 45px;
    box-sizing: border-box;
    border-radius: 0px 0px 15px 15px;
}

.section-item-bg5 {
    width: 374px;
    height: 217px;
    background-image: url(../img/23.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg6 {
    width: 374px;
    height: 217px;
    background-image: url(../img/24.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg7 {
    width: 374px;
    height: 217px;
    background-image: url(../img/25.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg8 {
    width: 374px;
    height: 217px;
    background-image: url(../img/26.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg9 {
    width: 374px;
    height: 217px;
    background-image: url(../img/27.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg10 {
    width: 374px;
    height: 217px;
    background-image: url(../img/28.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg11 {
    width: 374px;
    height: 217px;
    background-image: url(../img/29.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg12 {
    width: 374px;
    height: 217px;
    background-image: url(../img/30.png);
    background-position: center;
    background-repeat: no-repeat;
}

.section-item-bg13 {
    width: 373px;
    height: 440px;
    background-image: url(../img/31.png);
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-end;
    justify-content: center;
}

.price-container {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.text-for-price {
    color: #999999;
}

.hotel-name {
    margin-bottom: 16px;
}

.country {
    color: #999999;
    margin-bottom: 16px;
}

.section-item-btn {
    width: 100px;
    height: 42px;
    border: 1px solid #CC9933;
    background: white;
    box-sizing: border-box;
    border-radius: 10px;
    color: #CC9933;
}

.item-text-lastbl {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: white;
    margin-right: 3px;
}

.section-link-last-block {
    align-items: center;
}

.section-link-blok {
    margin-bottom: 27px;
}